#       If you have contributed to CaneOS, add your name and email here.
#       This file is used to map different email addresses and names to a single canonical name and email address.
#       This is useful for git commits, as it ensures that all commits are attributed to the same person.
#       Please place your name In alphabetical order.

#A

#B

#C

#D

#E

#F

#G

#H

#I

#J

#K

#L

#M

#N

#O

#P

#Q

#R

#S

#T
Trollycat <kittygamingbuisness@gmail.com>

#U

#V

#W

#X

#Y

#Z